<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <!--p>Beach. Rainforest. Volcano. Tree House. Sloths.</p-->
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <div class= "col-md-6">
        <h2>Latest Mars News</h2>
        <h3>{{ vacation.top_title }}</h3>
        <p>{{ vacation.top_paragraph }}</p>
        <h2>Featured Mars Image</h2>
        <img src="{{ vacation.Featured_image }}" alt="mars_featured">

    </div>
    
    <div class= "col-md-2" >
        <h3>Current Weather on Mars</h3>
        <p>{{ vacation.Weather }}</p>
        {{vacation.mars_facts_table|safe}}
    </div>
  </div>
  <div class="container" >
        <div class="row">
            <div class="col">
                <h1>Mars Hemispheres</h1>
                <hr>
               
            </div>
        </div>
        <div class="row">
            {% for hemi in vacation.Hemisphere_image %}
            <div class="col-lg-4"><h3>{{hemi.title}}</h3><img class="img-fluid mx-auto d-block" src="{{ hemi.img_url }}"></div>
            {% endfor %}
            <!-- <div class="col-md-6"><h3>{{vacation.Hemisphere_image[0]["title"]}}</h3><img class="img-fluid mx-auto d-block" src="{{ vacation.Hemisphere_image[0]['img_url'] }}"></div>
            <div class="col-md-6"><h3>{{vacation.Hemisphere_image[1]["title"]}}</h3><img class="img-fluid mx-auto d-block" src="{{ vacation.Hemisphere_image[1]['img_url'] }}"></div> -->
            <!-- <div class="col-md-6"><h3>vs. Humidity</h3><a href="./humid.html"><img class="img-fluid mx-auto d-block" src="./Resources/assets/images/Fig2.png" alt="vs Humidity"></a></div>
            <div class="w-100"></div>
            <div class="col-md-6"><h3>vs. Cloudiness</h3><a href="./cloud.html"><img class="img-fluid mx-auto d-block" src="./Resources/assets/images/Fig3.png" alt="vs Cloudiness"></a></div>
            <div class="col-md-6"><h3>vs. Wind Speed</h3><a href="./wind.html"><img class="img-fluid mx-auto d-block" src="./Resources/assets/images/Fig4.png" alt="vs Wind Speed"></a></div> -->
        </div>
    </div>
  <!-- <div class= "container-fluid col-md-6" >
        <h3>Current Weather on Mars</h3>
        <p>{{ vacation.Weather }}</p>
  </div> -->
  <!--/div-->
</body>

</html>