/*.col {
    box-sizing: border-box;
    
}*/
.navbar-brand {
    background-color: teal;
    
}
.navbar-brand h2 {
    color: white;
}
body, #visual {
    background-color: #dee2e6;
}
.container, #inner_visual {
    background-color: white;
}

h3 {
    padding: 0px;
    margin: 0;
    text-align: center;
    color: teal;
}
h1 {
    color: teal;
}
h2 {
    color: teal;
}
img {
    padding: 0px;
    margin: 0 auto;
    height: 90%;
    width: 90%;
    box-sizing: inherit;
    
}
#landing-img {
    height: 50%;
    width: 50%;
    

}
* {
    border: 1px solid red !important;
}