.col {
    box-sizing: border-box;
    
}

h2 {
    padding: 0px;
    margin: 0;
    text-align: center;
}
img {
    padding: 0px;
    margin: 0 auto;
    height: 90%;
    width: 90%;
    
}
* {
    border: 1px solid red !important;
}